{% load static %}
<header>
  <div class="inner">
    <div class="header-container">
      <div class="logo-container">
        <!-- 사이트 로고 -->
        <h1>
          <a href="/main" class="logo">
            <img src="{% static 'assets/logo2.png' %}" />
          </a>
        </h1>
      </div>
      <div class="search-container" id="searchContainer">
        <input
          class="searchInput"
          type="text"
          placeholder="원하는 강의를 검색해보세요."
          id="searchInput"
        />
        <button id="searchButton" onclick="toggleSearch()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <div class="icon-container" id="iconContainer">
        {% comment %}
        <button><i id="heart-icon" class="fa-regular fa-heart"></i></button>
        {% endcomment %} {% if user.is_authenticated %}
        <form
          method="post"
          action="{% url 'logout' %}?next={{ request.build_absolute_uri|urlencode }}"
        >
          {% csrf_token %}
          <button type="submit" class="pretty_button logout">
            <a>Logout</a>
          </button>
        </form>
        <button class="pretty_button">
          <a href="{% url 'user_detail' pk=user.pk %}">MyPage</a>
        </button>
        {% else %}
        <button class="pretty_button">
          <a
            href="{% url 'login' %}?next={{ request.build_absolute_uri|urlencode }}"
            >Login</a
          >
        </button>
        <button class="pretty_button">
          <a href="{% url 'signup' %}">Signup</a>
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</header>
