{% load static %}
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 화면</title>
    {% include "include/reset_head.html" %}
  </head>
  <body>
    <script>
      const userClickUrl = '{% url "user_click" %}';
      const tagClickUrl = '{% url "tag_click" %}';
      const searchUrl = '{% url "user_search" %}';
      const csrfToken = "{{ csrf_token }}";
    </script>
    {% include "include/header.html" %}

    <main>
      <section class="banner_section">
        <div class="inner">
          <div class="banner-container swiper main-banner-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide banner_item banner_item1">
                <h3 class="title">모든 강의를 한곳에! 선택도 한번에 해결!</h3>
                <p class="sub_title">온라인 강의를 쉽고 빠르게 확인해요</p>
                <img class="info-img" src="{% static 'assets/배너1.png' %}" />
              </div>

              <div class="swiper-slide banner_item banner_item2">
                <div class="text_box">
                  <h3 class="title">프로 귀찮러라면 <span>여기!</span></h3>
                  <p class="sub_title">
                    흩어진 강의 <span>한곳 비교</span>하고, <br />
                    <span>딱 맞는 강의</span>만 바로 시작해요
                  </p>
                </div>
                <img class="info-img" src="{% static 'assets/배너2.png' %}" />
              </div>
            </div>
          </div>
        </div>
        <div class="logo_marquee">
          <div class="logo_track">
            <img
              class="infologo infologo1"
              src="{% static 'assets/Coursera_logo.png' %}"
            />
            <img
              class="infologo infologo2"
              src="{% static 'assets/Udemy_logo.png' %}"
            />
            <img
              class="infologo infologo3"
              src="{% static 'assets/Inflearn_logo.png' %}"
            />
          </div>
        </div>
      </section>
      <section>
        <div class="inner">
          <div class="lec-container">
            <div class="filters-container">
              <div class="category-container">
                <select id="platform">
                  <option value="">모든 사이트</option>
                  <option value="Coursera">코세라</option>
                  <option value="Inflearn">인프런</option>
                  <option value="Udemy">유데미</option>
                </select>
                <select id="mainCategory">
                  <option value="">분야 선택</option>
                </select>
                <select id="midCategory">
                  <option value="">기술 선택</option>
                </select>
              </div>
              <div class="sory-container">
                <select id="sortType">
                  <option value="RECENT">최신순</option>
                  <option value="RECOMMEND">추천순</option>
                </select>
                <select id="levelSelect">
                  <option value="">난이도</option>
                  <option value="입문">입문</option>
                  <option value="초급">초급</option>
                  <option value="중급이상">중급이상</option>
                  <option value="All">All</option>
                </select>
              </div>
            </div>

            <div class="tags-container" id="tagsContainer">
              <div class="search-container2" id="searchContainer2">
                <input
                  class="searchInput2"
                  type="text"
                  placeholder="요즘 많이 찾는 기술들을 학습해봐요"
                  id="searchInput2"
                />
                <button id="searchButton2" onclick="toggleSearch()">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
              <div class="tags-grid">
                <div class="tags-row">
                  {% for tag in tags_row1 %}
                  <div class="tag-box" data-tag="{{ tag }}"># {{ tag }}</div>
                  {% endfor %}
                </div>
                <div class="tags-row">
                  {% for tag in tags_row2 %}
                  <div class="tag-box" data-tag="{{ tag }}"># {{ tag }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="lecture-container" id="lectureList">
              <!--js에서 생성되서 삽입됨-->
            </div>
            <div class="pagination">
              <button id="prevPage">＜</button>
              <span id="pageNumbers"></span>
              <button id="nextPage">＞</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script>
      {% if user.is_authenticated %}
          window.currentUserId = "{{ user.user_id }}";
      {% else %}
          window.currentUserId = null;
      {% endif %}
    </script>
    <script src="{% static 'js/all_lec.js' %}"></script>

    <script>
      new Swiper(".main-banner-swiper", {
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
      });
    </script>
    <script>
      const track = document.querySelector(".logo_track");

      function fillLogos() {
        const trackWidth = track.scrollWidth;
        const screenWidth = window.innerWidth;

        // 화면보다 짧으면 계속 복제
        while (track.scrollWidth < screenWidth * 2) {
          track.innerHTML += track.innerHTML;
        }
      }

      fillLogos();

      window.addEventListener("resize", () => {
        track.innerHTML = track.innerHTML.slice(0, track.innerHTML.length / 2);
        fillLogos();
      });
    </script>
  </body>
</html>
