{% load tz %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>{% block title %}User Profile{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "include/reset_head.html" %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="{% static 'css/user_base.css'%}">

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const deleteButton = document.querySelectorAll('.delete-btn');
        
            deleteButton.forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
        
                    const confirmation = confirm("정말로 탈퇴하시겠습니까?");
        
                    if (confirmation) {
                        this.closest('form').submit();
                    }
                });
            });
        });
        
        document.addEventListener("DOMContentLoaded", function() {
            const removeButtons = document.querySelectorAll(".remove-wishlist-item");
        
            removeButtons.forEach(button => {
                button.addEventListener("click", function(event) {
                    event.preventDefault();
                    const listItem = this.closest(".wishlist-item");
                    const lectureId = listItem.getAttribute("data-lecture-id")
        
                    fetch("{% url 'wishlist_remove' pk=user.pk %}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: JSON.stringify({ lecture: lectureId })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            listItem.remove();
                            location.reload();
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
                });
            });
        });

    </script>
</head>
<body>
    {% block header %}{%endblock%}
    <main>
        <div class="inner">
            <div class="main-body">
                <div class="gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body ">
                                <div class="d-flex flex-column text-center">
                                    <div class="mt-3">
                                        <div class="card mb-3">
                                            <div class="card-body card-body-first">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">이름</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">{{ user.user_name }}</div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">이메일</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <h6>{{ user.user_email }}</h6>
                                                    </div>
                                                </div>
                                                
                                            {% block content %}{% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <div class="card h-100">
                                <div class="card-body skill-card-body">
                                    <h6 class="d-flex align-items-center mb-3">
                                    <iclass="material-icons text-info mr-2">My Skill</iclass=></h6>
                                    {% for skill, value in user.skills.items %}
                                        <small> - {{ skill }}</small>
                                        <div class="progress mb-3" style="height: 5px">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: {{ value.0 }}%" aria-valuenow="{{ value.0 }}" aria-valuemin="0" aria-valuemax="10"></div>
                                        </div>
                                    {% empty %}
                                        <small>No skills added yet.</small>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3" style="height: 100%;">
                                    <h3>{{ user.user_name }}님이 찜한 강의 목록입니다</h3>
                                    
                                    <ul id="wishlist">
                                        {% for item in wishlist %}
                                            <div class="row align-items-center wishlist-item mb-3" data-lecture-id="{{ item.lecture.lecture_id }}">
                                                <li class="d-flex justify-content-between align-items-center w-100">
                                                    <a href="{% url 'lecture_detail' item.lecture.lecture_id %}" class="d-flex align-items-center" style="text-decoration: none; flex: 1;">
                                                        <img src="{{ item.lecture.thumbnail_url }}" >
                                                        <span class="lecture-name" >
                                                            {{ item.lecture.lecture_name }}
                                                        </span>
                                                        <span class="teacher-name" >
                                                            {{ item.lecture.teacher }}
                                                        </span>
                                                    </a>

                                                    {% block delete %}{% endblock %}
                                                </li>
                                            </div>
                                        {% empty %}
                                            <li>찜한 강의가 없습니다.</li>
                                        {% endfor %}
                                    </ul>


                        </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          document.querySelectorAll('button.pretty_button').forEach(button => {
            const link = button.querySelector('a');
            if (link) {
              link.innerHTML =
                '<span>' + link.textContent.trim().split('').join('</span><span>') + '</span>';
            }
          });
        });
    </script>
</body>
</html>
